@import "tailwindcss";
@import "basecoat-css";
@import "../node_modules/@tabler/icons-webfont/dist/tabler-icons.min.css";

@source "../index.html";

@layer base {
  a {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
  }

  a.btn,
  a[class^="btn-"],
  a[class*=" btn-"] {
    text-decoration-line: none;
  }

  a.btn-link,
  a.btn-sm-link,
  a.btn-lg-link,
  a.btn-icon-link,
  a.btn-sm-icon-link,
  a.btn-lg-icon-link {
    text-decoration-line: underline;
  }
}
